# WELCOME TO THE NOTEBOOK



## Introduction

In this course, we will be discussing the four most important data structures in Python:
- Lists 
- Tuples
- Sets
- Dictionaries

## Task 1
### Lists
A list is a collection of items in a particular order. Lists are mutable, which means you can add, remove, or modify items after the list has been created.

Let's define a list of integers

In [3]:
numbers=[12,5,3,9,10]
print(numbers)

[12, 5, 3, 9, 10]

Lists can have mixed data types

In [6]:
mixed_list=[12,5,'Ridham',9.5]
mixed_list

[12, 5, 'Ridham', 9.5]

Lists with string values

In [5]:
fruits=['apple','banana','grapes']
fruits

['apple', 'banana', 'grapes']

Accessing an element in the list

In [7]:
fruits[0]

'apple'

List slicing

In [11]:
(fruits[0:2])
fruits[2:]

['grapes']

Length of a list

In [12]:
len(fruits)

3

Adding an element to the list

In [13]:
fruits.append("oranges")

In [14]:
fruits

['apple', 'banana', 'grapes', 'oranges']

In [15]:
fruits[0]='kivi'

In [16]:
fruits

['kivi', 'banana', 'grapes', 'oranges']

In [17]:
fruits2=['lemone','mango']
fruits2.extend(fruits)
fruits2

['lemone', 'mango', 'kivi', 'banana', 'grapes', 'oranges']

Counting the number of occurrences of an item

In [20]:
print(fruits.count('Ridham'))
print(fruits.count('banana'))

0
1

Removing an element from the list

In [21]:
print(fruits)
fruits.remove('kivi')
print(fruits)

['kivi', 'banana', 'grapes', 'oranges']
['banana', 'grapes', 'oranges']

Exercise: Create a list of your favorite movies and print the list. Then, add one more movie to the list and print the updated list.

In [23]:
movies=['Die Hard 1',"Spider Man"]
movies.append("John Wick")
movies

['Die Hard 1', 'Spider Man', 'John Wick']

Sorting a list

In [25]:
fruits2.sort()
fruits2

['banana', 'grapes', 'kivi', 'lemone', 'mango', 'oranges']

In [28]:
numbers.sort()
numbers

[3, 5, 9, 10, 12]

Empty a list

Length of a tuple

In [29]:
print(numbers)
numbers.clear()
numbers

[3, 5, 9, 10, 12]

[]

# **List of Lists**

In [32]:
matrix=[[1,2,3],[4,5,6],[7,8,9]]

In [34]:
matrix[0][2]

3

# Tuples

In [37]:
numbers=(1,2,3)

In [38]:
numbers

(1, 2, 3)

In [39]:
len(numbers)

3

Repetition of a tuple

In [40]:
numbers*3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

Index of an item

In [41]:
numbers.index(3)

2

Counting the number of occurrences of an item

In [42]:
numbers.count(2)

1

### Sets
A set is a collection of unique items without any specific order.Sets are useful when you need to store unique values and perform operations like union, intersection, difference, etc.

In [44]:
number1={1,2,3,4,5,6,7,8,9,10}
number2={1,34,13,4,5,6,12,56,9,15}

Union of two sets

In [46]:
number1 | number2

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 13, 15, 34, 56}

Intersection of two sets

In [47]:
number1 & number2

{1, 4, 5, 6, 9}

Difference of two sets

In [48]:
number1 - number2

{2, 3, 7, 8, 10}

Add an item to a set

In [49]:
number1.add(99)

In [50]:
number1

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 99}

Remove an item from a set

In [51]:
number1.remove(1)
number1

{2, 3, 4, 5, 6, 7, 8, 9, 10, 99}

Check if an item is in a set

In [53]:
100 in number1

False

### Task 4

### Dictionaries 
A dictionary is a collection of key-value pairs, where each key is unique.

Creating a dictionary

In [55]:
a={"key1":"value1","key2":"value2","key3":"value3","key4":"value4","key5":"value5"}
a

{'key1': 'value1',
 'key2': 'value2',
 'key3': 'value3',
 'key4': 'value4',
 'key5': 'value5'}

Accessing a value

In [56]:
a['key5']

'value5'

Updating a value

In [57]:
a['key5']
a['key5']=10
a['key5']

10

Adding a new key-value pair

In [59]:
a['name']="Harman"
a

{'key1': 'value1',
 'key2': 'value2',
 'key3': 'value3',
 'key4': 'value4',
 'key5': 10,
 'name': 'Harman'}

Removing a key-value pair

In [61]:
print(a)
del a['key5']
a

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3', 'key4': 'value4', 'key5': 10, 'name': 'Harman'}

{'key1': 'value1',
 'key2': 'value2',
 'key3': 'value3',
 'key4': 'value4',
 'name': 'Harman'}

Check if a key is in a dictionary

In [62]:
"name" in a

True

Get all keys

In [63]:
a.keys()

dict_keys(['key1', 'key2', 'key3', 'key4', 'name'])

Get all values

In [65]:
a.values()

dict_values(['value1', 'value2', 'value3', 'value4', 'Harman'])

Get all key-value pair

In [66]:
a

{'key1': 'value1',
 'key2': 'value2',
 'key3': 'value3',
 'key4': 'value4',
 'name': 'Harman'}

### Task 4

### Student Performance Analysis
Imagine you're a school teacher and you want to keep track of your students' grades. You can create a list of dictionaries, where each dictionary represents a student.

In [68]:
students = [    
    {   
        "name": "Alice",
        "grades": [95, 92, 88],
        "address": ("123 Main St.", "San Francisco", "CA", "94105"),
        "courses": ["Math", "Science", "History"]
    },
    {
        "name": "Bob",
        "grades": [80, 85, 82],
        "address": ("456 Oak Ave.", "Oakland", "CA", "94610"),
        "courses": ["English", "Art", "Music"]
    },
    {
        "name": "Charlie",
        "grades": [90, 92, 96],
        "address": ("789 Maple Blvd.", "San Jose", "CA", "95110"),
        "courses": ["History", "Geography", "Economics"]
    },
    {
        "name": "David",
        "grades": [75, 87, 83],
        "address": ("246 Elm St.", "San Francisco", "CA", "94107"),
        "courses": ["Physics", "Chemistry", "Biology"]
    },
    {
        "name": "Emily",
        "grades": [97, 94, 91],
        "address": ("135 Pine Ave.", "Oakland", "CA", "94611"),
        "courses": ["English", "History", "Literature"]
    },
    {
        "name": "Frank",
        "grades": [88, 90, 86],
        "address": ("369 Cedar Blvd.", "San Jose", "CA", "95112"),
        "courses": ["Math", "Computer Science", "Physics"]
    },
    {
        "name": "Grace",
        "grades": [93, 95, 92],
        "address": ("159 Maple St.", "San Francisco", "CA", "94108"),
        "courses": ["History", "Geography", "Social Studies"]
    },
    {
        "name": "Henry",
        "grades": [85, 84, 82],
        "address": ("753 Oak St.", "Oakland", "CA", "94612"),
        "courses": ["Music", "Art", "Theater"]
    },
    {
        "name": "Isabelle",
        "grades": [96, 97, 98],
        "address": ("924 Cedar Ave.", "San Jose", "CA", "95113"),
        "courses": ["Math", "Science", "Engineering"]
    },
    {
        "name": "Jack",
        "grades": [89, 91, 87],
        "address": ("731 Elm St.", "San Francisco", "CA", "94109"),
        "courses": ["Literature", "English", "Philosophy"]
    }
]
len(students)

10

Let's add a new key-value to each student item to store their average grade.

In [75]:
for student in students:
    student['average_grade']=round(sum(student['grades'])/3)
students

[{'name': 'Alice',
  'grades': [95, 92, 88],
  'address': ('123 Main St.', 'San Francisco', 'CA', '94105'),
  'courses': ['Math', 'Science', 'History'],
  'average_grade': 92},
 {'name': 'Bob',
  'grades': [80, 85, 82],
  'address': ('456 Oak Ave.', 'Oakland', 'CA', '94610'),
  'courses': ['English', 'Art', 'Music'],
  'average_grade': 82},
 {'name': 'Charlie',
  'grades': [90, 92, 96],
  'address': ('789 Maple Blvd.', 'San Jose', 'CA', '95110'),
  'courses': ['History', 'Geography', 'Economics'],
  'average_grade': 93},
 {'name': 'David',
  'grades': [75, 87, 83],
  'address': ('246 Elm St.', 'San Francisco', 'CA', '94107'),
  'courses': ['Physics', 'Chemistry', 'Biology'],
  'average_grade': 82},
 {'name': 'Emily',
  'grades': [97, 94, 91],
  'address': ('135 Pine Ave.', 'Oakland', 'CA', '94611'),
  'courses': ['English', 'History', 'Literature'],
  'average_grade': 94},
 {'name': 'Frank',
  'grades': [88, 90, 86],
  'address': ('369 Cedar Blvd.', 'San Jose', 'CA', '95112'),
  'courses': ['Math', 'Computer Science', 'Physics'],
  'average_grade': 88},
 {'name': 'Grace',
  'grades': [93, 95, 92],
  'address': ('159 Maple St.', 'San Francisco', 'CA', '94108'),
  'courses': ['History', 'Geography', 'Social Studies'],
  'average_grade': 93},
 {'name': 'Henry',
  'grades': [85, 84, 82],
  'address': ('753 Oak St.', 'Oakland', 'CA', '94612'),
  'courses': ['Music', 'Art', 'Theater'],
  'average_grade': 84},
 {'name': 'Isabelle',
  'grades': [96, 97, 98],
  'address': ('924 Cedar Ave.', 'San Jose', 'CA', '95113'),
  'courses': ['Math', 'Science', 'Engineering'],
  'average_grade': 97},
 {'name': 'Jack',
  'grades': [89, 91, 87],
  'address': ('731 Elm St.', 'San Francisco', 'CA', '94109'),
  'courses': ['Literature', 'English', 'Philosophy'],
  'average_grade': 89}]

Exercise: Find the student with the highest average grade.

In [78]:
temp=0
for student in students:
     if(student['average_grade']>temp):
            temp=student['average_grade']
            top_student=student
top_student

{'name': 'Isabelle',
 'grades': [96, 97, 98],
 'address': ('924 Cedar Ave.', 'San Jose', 'CA', '95113'),
 'courses': ['Math', 'Science', 'Engineering'],
 'average_grade': 97}

Storing the courses and the grades in a dictionary

In [80]:
for student in students:
    keys=student['courses']
    values=student['grades']
    student['course_grade']=dict(zip(keys,values))
students

[{'name': 'Alice',
  'grades': [95, 92, 88],
  'address': ('123 Main St.', 'San Francisco', 'CA', '94105'),
  'courses': ['Math', 'Science', 'History'],
  'average_grade': 92,
  'course_grade': {'Math': 95, 'Science': 92, 'History': 88}},
 {'name': 'Bob',
  'grades': [80, 85, 82],
  'address': ('456 Oak Ave.', 'Oakland', 'CA', '94610'),
  'courses': ['English', 'Art', 'Music'],
  'average_grade': 82,
  'course_grade': {'English': 80, 'Art': 85, 'Music': 82}},
 {'name': 'Charlie',
  'grades': [90, 92, 96],
  'address': ('789 Maple Blvd.', 'San Jose', 'CA', '95110'),
  'courses': ['History', 'Geography', 'Economics'],
  'average_grade': 93,
  'course_grade': {'History': 90, 'Geography': 92, 'Economics': 96}},
 {'name': 'David',
  'grades': [75, 87, 83],
  'address': ('246 Elm St.', 'San Francisco', 'CA', '94107'),
  'courses': ['Physics', 'Chemistry', 'Biology'],
  'average_grade': 82,
  'course_grade': {'Physics': 75, 'Chemistry': 87, 'Biology': 83}},
 {'name': 'Emily',
  'grades': [97, 94, 91],
  'address': ('135 Pine Ave.', 'Oakland', 'CA', '94611'),
  'courses': ['English', 'History', 'Literature'],
  'average_grade': 94,
  'course_grade': {'English': 97, 'History': 94, 'Literature': 91}},
 {'name': 'Frank',
  'grades': [88, 90, 86],
  'address': ('369 Cedar Blvd.', 'San Jose', 'CA', '95112'),
  'courses': ['Math', 'Computer Science', 'Physics'],
  'average_grade': 88,
  'course_grade': {'Math': 88, 'Computer Science': 90, 'Physics': 86}},
 {'name': 'Grace',
  'grades': [93, 95, 92],
  'address': ('159 Maple St.', 'San Francisco', 'CA', '94108'),
  'courses': ['History', 'Geography', 'Social Studies'],
  'average_grade': 93,
  'course_grade': {'History': 93, 'Geography': 95, 'Social Studies': 92}},
 {'name': 'Henry',
  'grades': [85, 84, 82],
  'address': ('753 Oak St.', 'Oakland', 'CA', '94612'),
  'courses': ['Music', 'Art', 'Theater'],
  'average_grade': 84,
  'course_grade': {'Music': 85, 'Art': 84, 'Theater': 82}},
 {'name': 'Isabelle',
  'grades': [96, 97, 98],
  'address': ('924 Cedar Ave.', 'San Jose', 'CA', '95113'),
  'courses': ['Math', 'Science', 'Engineering'],
  'average_grade': 97,
  'course_grade': {'Math': 96, 'Science': 97, 'Engineering': 98}},
 {'name': 'Jack',
  'grades': [89, 91, 87],
  'address': ('731 Elm St.', 'San Francisco', 'CA', '94109'),
  'courses': ['Literature', 'English', 'Philosophy'],
  'average_grade': 89,
  'course_grade': {'Literature': 89, 'English': 91, 'Philosophy': 87}}]